# Cache crap that Valve autogenerates
*.bin

# Ignore map overviews
content/dota_addons/ffrenzy/materials/overviews/*
game/dota_addons/ffrenzy/materials/overviews/*
game/dota_addons/ffrenzy/resource/overviews/*

# Compiled formats
*.vpcf_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vpk

# Commit panorama compiled textures
!game/dota_addons/dotacraft/panorama/images/*.vtex_c
!game/dota_addons/dotacraft/panorama/images/custom_game/*.vtex_c